@font-face 
  font-family: "Roboto"
  src: url("./public/fonts/Roboto/Roboto-Regular.ttf") format("truetype")
@font-face 
  font-family: "Roboto-bold"
  src: url("./public/fonts/Roboto/Roboto-Bold.ttf") format("truetype")
@import url('https://fonts.cdnfonts.com/css/impact')
@font-face 
  font-family: 'Impact', sans-serif
  font-family: 'Impacted', sans-serif
h1,h2,h3,button,a
  font-family: "Impact"
  letter-spacing: 1px
body
  font-family: 'Roboto'
.bold
  font-family: "Impact"
html.lenis 
  height: auto

.lenis.lenis-smooth 
  scroll-behavior: auto

.lenis.lenis-smooth [data-lenis-prevent] 
  overscroll-behavior: contain

.lenis.lenis-stopped 
  overflow: hidden

.lenis.lenis-scrolling iframe 
  pointer-events: none

.nav-links > li, a
  &:hover
    text-decoration: underline
    text-decoration-color: #dc3897
    text-decoration-style: wavy
.hero
  background-image: url('./public/images/hero.jpg')
  width: 100%
  height: 600px
  background-position: center
  background-size: cover
main, section
  padding: 10px
  min-height: 90vh !important
  margin-top: 302px
  margin-bottom: 10vh
.btn
  @apply bg-primary hover:bg-white hover:text-gray-900 hover:border hover:border-primary text-white px-4 py-4 rounded-lg font-bold uppercase

.waves
  margin: auto
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  overflow: auto
  background: linear-gradient(315deg, rgb(244, 241, 244) 3%, rgb(86, 163, 240) 38%, rgb(245, 208, 160) 68%, rgb(223, 166, 215) 98%)
  animation: gradient 15s ease infinite
  background-size: 400% 400%
  background-attachment: fixed

@keyframes gradient
    0%
      background-position: 0% 0%
    50%
      background-position: 100% 100%
    100%
      background-position: 0% 0%

.wave
  background: rgb(255 255 255 / 25%)
  border-radius: 1000% 1000% 0 0
  position: fixed
  width: 200%
  height: 12em
  animation: wave 10s -3s linear infinite
  transform: translate3d(0, 0, 0)
  opacity: 0.8
  bottom: 0
  left: 0
  z-index: -1

.wave:nth-of-type(2)
  bottom: -1.25em
  animation: wave 18s linear reverse infinite
  opacity: 0.8


.wave:nth-of-type(3)
  bottom: -2.5em
  animation: wave 20s -1s reverse infinite
  opacity: 0.9


@keyframes wave
  2%
    transform: translateX(1)
  25%
    transform: translateX(-25%)
  50%
    transform: translateX(-50%)
  75%
    transform: translateX(-25%)
  100%
    transform: translateX(1)

